@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Libre Baskerville', serif;
}

.main-content{
    display: grid;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr;
    background-color: #bbbbbb;
    overflow: hidden;
}

#title{
    grid-column: 1/-1;
    display: flex;
    background-color: #f0f0f0ee;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 2px 7px rgba(22, 22, 22, 0.411);
}

.folder-img{
    max-width: 42px;
    margin-left: 10px;
    padding-right: auto;
    display: none;
    position: absolute;
    left: 0;
}

h1{
    font-size: 45px;
    padding: 30px 20px;
    font-weight: 700;
 
}
#title img{width: 80px;}

#folder-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

div h2 {
    font-size: 30px;
    color: #222222;
}

/* Trash Can Img in Folders  */
div div img{
    width: 30px;
    filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, 0.308));
}

.main-folder-container{
    padding: 20px 25px;
    background-color: #e0e0e0;
}

.main-folder-container h2{color: #222222;}

.folder-container{margin-left: 10px;}

.folder-container h2{
    color: #222222;
    overflow-wrap: anywhere;
    width: fit-content;
}

.folder-add-container{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid gray;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}

#display-form-btn, #todo-btn{
    border-radius: 20px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: rgba(0, 134, 13, 0.281);
    transition: 0.7s;
    background-image: url("img/plus.svg");
}

#form-folder{
    background-color: transparent;
    width: 0;
    border-radius: 10px;
    transition: 0.7s;
}

#form-folder.active{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 10px;
    margin: 17px 0px;
}

.form-folder-input-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    border-radius: 0;
}

#form-folder input{
    height: 30px;
    font-size: 18px;
    padding-left: 3px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: none;
    outline: none;
    border-left: 2px solid black;
}

#form-folder input:focus{background-color: #c9c9c9;}

#form-folder input.toggle{display: inline;}


#form-folder button{
    border: none;
    background-color: transparent;
    display: none;
}
#form-folder button.toggle{
    border: none;
    background-color: transparent;
    display: inline; 
}

#form-folder button img{width: 35px;}

.dues-folder{
    font-size: 28px;
    margin-top: 15px;
}
.upcoming-dates-container{
    display:none;
    flex-direction: column;

    align-items: center;
    max-width: 2000px;
    
}

.upcoming-dates-container h2{
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

#todo-list-date{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 10px 0px;
}

#todo-list-date li{
    display: flex;
    gap: 40px;
    width: 100%;
    border-radius: 7px;
    padding: 1px 4px;
    align-items: center;
    font-size: 30px;
}

.task-container{
    display: none;	
    align-items: center;
    max-width: 2000px;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
}
/* "Task(s)" */
.task-container h2{
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

#todo-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 10px 0px;

}

#todo-list li{
    display: flex;
    gap: 40px;
    width: 100%;
    border-radius: 7px;
    padding: 1px 4px;
    align-items: center;
    font-size: 30px;
}

li input{
    appearance: none;
	box-shadow: 1px 2px 0px 0.5px rgba(0, 0, 0, 0.151), inset -2px -2px 1px rgba(0, 0, 0, 0.199);
	padding: 9px;
    margin-left: 2px;
    width: 25px;
    height: 24px;
	border-radius: 35px;
	display: inline-block;
	position: relative;
    cursor: pointer;
}

li input:checked{
    background-color: #ffffff;
	color: #ffffff;
    background-image: url("img/check-all.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

}

.todo-title-delete{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-date-delete-container{
    display: flex;
    gap: 18px;
}

#form-todo{
    margin-top: 17px;
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    justify-content: center;
}

.title-priority-container{
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    transition: 0.5s;
}

.title-priority-container.active{
    opacity: 100;
    transition: 0.5s;
}

#todo-title,#todo-priority, #date-todo{
    font-size: 28px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 2px 0px 2px 5px;
}
/* Form Todo Title */
#todo-title{
    border: none;
    border-radius: 0;
    border-left: 2px solid black;
    width: min(300px, 100%);
}

#todo-title:focus, #todo-priority:focus, #date-todo:focus { background-color: #cccccc;}

#todo-priority{
    width: min(200px, 100%);
}

#todo-priority:focus{
    background-color: #cccccc;
}

#date-todo{width: min(300px, 100%);}

#error-box{
    display: none;
    background-color: rgb(185, 72, 72);
}

#error-box.alert{
    padding: 2%;
    opacity: 100;
    display: block;
    border-radius: 7px;
}

#todo-btn{
    width: 35px;
    height: 35px;
    font-size: 28px;
}

#todo-btn.toggle{
    background-color: #ffffff;
	color: #ffffff;
    background-image: url("img/check-all.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}


.low-priority {background-color: rgb(109, 230, 121);}

.medium-priority{ background-color: rgb(231, 172, 61);}

.high-priority{background-color: rgb(185, 72, 72);}

.show-flex{display: flex;}

@media only screen and (max-width: 999px) {
    .main-folder-container{
        display: none;
        width: 100vw;
        height: 100%;
    }

    .show{display: block;}
    
    .task-container{
        grid-column: 1/-1;
        height: 100%;
    }

    h1{
        font-size: 35px;
        padding: 17px 10px;
    }

    #title img{width: 50px; margin-right: 10px;}

    .upcoming-dates-container{
        grid-column: 1/-1;
    }

    #todo-list, #todo-list-date{width: 92%;}

    #todo-list li, #todo-list-date li{
        gap: 10px;
        font-size: 28px;
        padding: 1px 2px;
    }

    .todo-date-delete-container{gap: 10px;}

    .todo-title-delete{flex-wrap: wrap;}

    #form-todo{width: 85%; gap: 0px;}

    #error-box.alert{margin-bottom: 10px;} 

    .title-priority-container{
        display: block;
    }
    #todo-title, #todo-priority, #date-todo{
        font-size: 26px;
        color: black;
    }
    #todo-title, #todo-priority{width: 49%;}

    #date-todo{
        text-align: center;
        margin-bottom: 15px;
        height: auto;
    }
}  
